.navMenu {
  display: flex;
  list-style: none;
  margin-top: 0;

  color: #FFFFFF;

  padding-top: 20px;
}

.navMenu li {
  margin-left: 30px;
}

.navActive {
  text-decoration: underline;
  font-weight: bold;
  color: #FFFFFF;
}

.navHeader {
  width: 100%;
}

.navOuter {
  border: none;
}

.navInner {
  background-color: #002545;
  margin-bottom: 20px;
  border-radius: 0;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navItem {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 15px;
}

.navbarNav {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  flex: 1;
  align-items: flex-end;
  margin-bottom: 0;
}

.navbarNavRight {
  flex: 0;
  height: 20px;
}

.navbarNavRight .navItem {
}

@media (max-width: 600px) {
    .headerLogo {
        width: 40px;
        float: left;
        overflow: hidden;
    }

    .navbarNav {
        float: left;
        margin-left: 12px;
    }

    .navItem {
      color: #FFFFFF;
      display: inline-block !important;
    }
}

.headerLogo img {
  width: 120px;
}

.navLink:hover {
  background-color: #002545 !important;
  color: white !important;
  text-decoration: underline !important;
}

