.navMenu {
  display: flex;
  list-style: none;
  margin-top: 0;

  color: #FFFFFF;

  padding-top: 20px;
}

.navMenu li {
  margin-left: 30px;
}

.navActive {
  text-decoration: underline;
  font-weight: bold;
  color: #FFFFFF;
}

.navHeader {
  width: 100%;
}

.navOuter {
  border: none;
}

.navInner {
  background-color: #002545;
  margin-bottom: 20px;
  border-radius: 0;
}

.navContainer {
  height: 52px;
  display: flex;
  align-items: center;
}

.navItem {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 15px;
  padding-top: 4px;
}

.navItem a {
  color: #FFFFFF;
}

.navbarNav {
  display: flex;
  flex: 1;

  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

.navbarNavRight {
  flex: 0;
  height: 20px;
}

.navbarNavRight .navItem {
}

@media (max-width: 600px) {
    .headerLogo {
        width: 24px;
        float: left;
        overflow: hidden;
    }
}

.headerBrand {
  display: flex;
  align-items: center;
}

.headerBrand img {
  height: 24px;
}

.navLink:hover {
  background-color: #002545 !important;
  color: white !important;
  text-decoration: underline !important;
}

