@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select {
    @apply h-8 w-auto border border-gray-300 rounded bg-white px-2 text-sm text-gray-700 transition-colors hover:bg-gray-100;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
