.actionMenu {
  width: 160px;
  margin-left: -160px;

  background-color: white;
  z-index: 100;
  position: relative;
  float: right;

  border: solid 1px darkgrey;
  box-shadow: 2px 2px 20px 1px #888888;
}

.actionMenu span {
  display: inline-block;
  padding: 10px;
  color: darkgrey;
  font-size: 0.9em;
}

.actionMenu button {
  margin-bottom: 0;
}

.actionMenu ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.actionMenu ul hr {
  margin: 0
}

.actionMenuClose {
  color: black;
  text-align: right;
}
