.actionMenu {
  width: 160px;
  margin-left: -160px;

  background-color: white;
  z-index: 100;
  position: relative;
  float: right;

  border: solid 1px darkgrey;
  box-shadow: 1px 1px 1px 1px darkgrey;
}

.actionMenu a, .actionMenu span {
  display: inline-block;
  padding: 10px;
  color: darkgrey;
}

.actionMenu ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.actionMenu ul hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
