.toInvoice {
  margin-top: 20px;
  margin-bottom: 20px;
}

.toInvoiceItem {
    text-align: center;
}

.toInvoiceLabels {
    text-align: right;
    font-size: 0.85em;
}

.invoiceTimeslips {

}

.invoiceContainer {
  display: flex;
}

.toInvoiceItemProject {
  height: 50px;
}

.toInvoiceItemRow {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #eceeef;
}

.toInvoiceLabelsRow {
  height: 50px;
  line-height: 50px;
  color: #AAAAAA;
}

.invoiceInfoIssued {
  display: flex;
  justify-content: space-between;
}

.invoiceInfoPaid {
  display: flex;
  justify-content: space-between;
}

.invoiceSummaryRow {
  display: flex;
  justify-content: space-between;
}

.invoiceSummaryTitle {
  flex: 1;
}

.invoiceSummaryTitle strong {
  display: block;
}

.invoiceSummaryValue {
  text-align: right;
}

.invoiceSummaryAction {
  width: 10%;
}

.invoiceSummaryTotal {
  display: flex;
}

.invoiceSummaryTotalTitle {
  padding-right: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.invoiceActions {
  margin-bottom: 24px;
}

.invoiceItemNumber, .invoiceItemText {
  width: 100%;
}

.newInvoiceEnter {
}

.newInvoiceEnterActive {
  min-height: 300px;
  transition: min-height 1000ms ease-in;
}

.newInvoiceLeave {
  opacity: 1;
}

.newInvoiceLeaveActive {
  opacity: 0.1;
  transition: opacity 300ms ease-in;
}

.newInvoiceProjectSelector ul {
  list-style: none;
  padding: 0;
}

.newInvoiceProjectSelector label input {
  display: inline-block;
  margin-right: 10px;
}
