.timeslipGridHeaderDate {
    text-align: center;
    min-width: 45px;
    font-size: 0.9em;
}

.weekend {
  background-color: #EAEEF4;
}

.today {
  background-color:#78BCB5;
}

.cells {
    width: 300px;
    overflow-x: scroll;
}

.timeslipGridHeaderProjects {
    width: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 58px;
}

.timeslipGridCell {
    width: 45px;
    padding: 0 !important;
    border: 1px solid #eceeef;
}

.timeslipGridCell input {
    width: 45px;
    height: 45px;
    text-align: center;
    background: transparent;
    border: none;
}

.timeslipGridRowProject {
    width: 200px;
}

.timeslipGrid {
    font-size: 1.2em;
    margin-top: 20px;
}

.table-responsive {
    border: none;
}
