.timeslipContainer {
  margin: 25px;
}

.timeslipGridHeaderDate {
    text-align: center;
    width: 75px;
}

.today {
  border: solid 1px orange;
}

.cells {
    width: 300px;
    overflow-x: scroll;
}

.monthName {
}

.monthRow {
}

.dayRow {
    display: flex;
}

.timeslipGridHeaderProjects {
    width: 200px;
}

.timeslipGridHeader {
  display: flex;
}

.timeslipGridRow {
  display: flex;
}

.timeslipGridCell {
    width: 75px;
}

.timeslipGridCell input {
    width: 100%;
}

.timeslipGridRowProject {
    width: 200px;
}
