.timeslipContainer {
  margin: 25px;
}

.timeslipGridHeaderDate {
    text-align: center;
    width: 35px;
    font-size: 0.9em;
}

.weekend {
  background-color: rgba(97,178,167,0.7);
}

.today {
  background-color:#7FDBFF;
}

.cells {
    width: 300px;
    overflow-x: scroll;
}

.timeslipGridHeaderProjects {
    width: 200px;
}

.timeslipGridCell {
    width: 45px;
    padding: 0;
    border: 1px solid #eceeef;
}

.timeslipGridCell input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: none;
}

.timeslipGridRowProject {
    width: 200px;
}
