.btn-success {
  button {
    &:not([disabled]) {
        background-color: $color-success !important;
    }
    span {
        color: white !important;
    }
  }
}

.btn-error {
  button {
    background-color: $color-error !important;
    span {
        color: white !important;
    }
  }
}

.btn-warn {
  button {
    background-color: $color-warn !important;
    span {
        color: white !important;
    }
  }
}

.icon-btn-right {
  text-align: right !important;
  padding: 0 !important;
  padding-left: 12px !important;
  width: 38px !important;

  &>div>div {
    padding: 0 !important;
    font-size: inherit !important;
  }
}

.action-btns {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
