body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.nav-app-bar {
  background-color: $color-brand !important;

  button {
    display: none !important;
  }
}

.nav-item {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    color: $color-text-light !important;
    text-shadow: 1px 2px rgba(0,0,0,0.2);
    text-transform: uppercase;
    font-size: 0.9em !important;
}

.nav-container {
  background-color: $color-bg-dark !important;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-small) {
    transform: translate(0px, 0px) !important;
  }
}

.main-app-bar {
  margin-left: 0;
  background-color: $color-brand !important;
  h1 {
    color: white !important;
  }

  @media screen and (min-width: $break-small) {
    display: none !important;
  }
}

.container {
  margin-left: 259px;

  @media screen and (max-width: $break-small) {
    padding: 0;
    margin-left: 0px;
  }
}

.header-bar {
  margin-left: 259px;

  @media screen and (max-width: $break-small) {
    padding: 0;
    margin-left: 0px;
  }
}

.user-menu {
  margin-top: auto;
}

