<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/journal/css/bootstrap/css/bootstrap.min.css">
  </head>
  <body>

  {% block main %}
    {% if is_authenticated %}
      <div id='root'>
      </div>
      <script src="/static/journal/dist/bundle.js"></script>
    {% else %}
      <div id="login">
          <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
          <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                  <input type="text" id="username" name="username"  placeholder="Username">
              </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                  <input type="password" name="password" id="password" placeholder="Password">
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                  <button type="submit" class="btn">Login</button>
              </div>
          </div>
          </form>
      </div>
    {% endif %}
  {% endblock %}

  </body>
</html>
