{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "journal/dist/main.css" %}?{{ cachebust }}">

    <link rel="shortcut icon" href="{% static "journal/assets/favicon.ico" %}" />

    <link rel="icon" sizes="192x192" href="{% static "journal/assets/icon-highres.png" %}">
    <link rel="manifest" href="{% static "journal/manifest.json" %}?{{ cachebust }}">
    <style>
      body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        margin: 0;
        padding: 0;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance:textfield; /* Firefox */
      }
    </style>
  </head>
  <body>

  {% block main %}
    {% csrf_token %}
    {% if is_authenticated %}
      <script>GLOBAL_IS_AUTHENTICATED = true;</script>
    {% else %}
      <script>GLOBAL_IS_AUTHENTICATED = false;</script>
    {% endif %}

    <div id='root'>
    </div>
    <script src="{% static "journal/dist/bundle.js" %}?{{ cachebust }}"></script>

  {% endblock %}

  </body>
</html>
