.content {
  padding: 25px;

  @media screen and (max-width: $break-small) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  @media screen and (max-width: $break-small) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.text-muted {
  color: $color-text-secondary;
}

.content-actions {
  margin-bottom: 25px;
}

a {
  color: $color-bg-dark;
  text-decoration: none;

  &:visited {
    color: $color-bg-dark;
  }
}
