.btn-success {
  button {
    background-color: $color-success !important;
    span {
        color: white !important;
    }
  }
}

.btn-error {
  button {
    background-color: $color-error !important;
    span {
        color: white !important;
    }
  }
}
