.invoices-container {
  width: 50%;

  @media screen and (max-width: $break-small) {
    width: 100%;

    td {
        padding: 4px !important;
    }
  }

  .invoice-list-row {
    .invoice-column-total {
        width: 45px !important;
    }
  }
}

.state-label {
  display: flex;
  align-items: center;
  max-width: 120px;
  min-width: 90px;

  border-radius: 5px;
  padding: 6px;

  .state-label-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 45px;
  }

  .state-label-text {
    padding-left: 6px;
    font-size: 0.9em;
  }

  &.state-label-default {
    background-color: $color-text-light;

    .state-label-icon {
      background-color: $color-text-secondary;
    }

    .state-label-text {
      color: $color-text-secondary;
    }
  }

  &.state-label-success {
    background-color: $color-bg-success;

    .state-label-icon {
      background-color: $color-success;
    }

    .state-label-text {
      color: $color-success;
    }
  }

  &.state-label-warn {
    background-color: $color-bg-warn;

    .state-label-icon {
      background-color: $color-warn;
    }

    .state-label-text {
      color: $color-warn;
    }
  }

  &.state-label-error {
    background-color: $color-bg-error;

    .state-label-icon {
      background-color: $color-error;
    }

    .state-label-text {
      color: $color-error;
    }
  }
}
