.invoice-summary-row {
  .title {
    display: flex;
    justify-content: space-between;
  }
}

.invoice-summary-total {
  display: flex;
  justify-content: space-between;

  .title {
    flex: 1;
    padding-right: 10px;
    text-align: right;
  }
}
