.invoice-header {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .text-muted {
    font-size: 0.8em;
  }

  .invoice-header-actions {
    display: flex;
    align-items: center;

    .btn {
        margin-left: 10px;
    }
   }

  .invoice-header-options {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.invoice-container {
  .content {
    display: flex;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

  .invoice-generator {
    flex: 2;
    .invoice-generator-name {
      font-size: 24px !important;
      font-weight: 800;
    }
  }

  .invoice-summary-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

.invoice-load-more {
  margin: 32px;
  display: flex;
  justify-content: center;
}

.invoices-container {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  .invoice-list-header {
    margin-top: 32px;
    margin-bottom: 0;
  }

  .invoice-list-row {
    .invoice-column-total {
        width: 45px !important;
    }
  }
}

.invoice-projects {
  padding-top: 24px;

  .invoice-project {
    margin-bottom: 15px !important;
  }

  .invoice-project-label {
    display: flex;
    justify-content: space-between;
  }
}

.invoice-generator {
  z-index: inherit !important;
}
