.table {
  .col-state {
    width: 140px;
  }

  .col-currency {
    width: 40px;
  }

  .col-action {
    width: 40px;
  }

  @media screen and (max-width: $break-small) {
    td {
        padding: 4px !important;
    }

    .col-state {
        width: 28px;
    }

    .col-sm-hide {
      display: none;
    }
  }
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-top: 0;
  }

  .invoice-header-actions {
    display: flex;
    align-items: center;
   }

  .invoice-header-options {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.invoice-container {
  .content {
    display: flex;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

  .invoice-generator {
    flex: 2;
    .invoice-generator-name {
      font-size: 24px !important;
      font-weight: 800;
    }
  }

  .invoice-settings {
    width: 340px;
    margin-right: 15px;

    @media screen and (max-width: $break-small) {
      margin-right: 0;
      width: 90%;
    }

    .invoice-summary-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .invoice-settings-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }

        .text-muted {
            font-size: 0.8em;
        }
    }
  }
}

.invoices-container {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  .invoice-list-row {
    .invoice-column-total {
        width: 45px !important;
    }

    @media screen and (max-width: $break-small) {
      .state-label {
        width: 14px;
      }
    }
  }
}

.invoice-projects {
  padding-top: 24px;

  .invoice-project {
    margin-bottom: 15px !important;
  }

  .invoice-project-label {
    display: flex;
    justify-content: space-between;
  }
}

.create-invoice {
  margin-bottom: 25px;
}

.invoice-generator {
  z-index: inherit !important;
}
