.login {
  background-color: $color-bg-dark;
  height: 100%;

  input {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
