.project-container {

  .timeslip-grid {
    .timeslip-grid-header {
      th:first-child {
        display: none;
      }
      th:last-child {
        display: none;
      }
    }

    .timeslip-grid-row {
      td:last-child {
        display: none;
      }
    }

    .timeslip-grid-row-project {
      display: none;
    }
  }
}
