.table {
  font-family: 'Work Sans', sans-serif !important;
  font-feature-settings: 'tnum';

  td:first-child {
    padding-left: 4px !important;
  }

  .col-state {
    width: 100px;
  }

  .col-currency {
    width: 40px;
  }

  .col-actions {
    width: 40px;
  }

  .col-number {
    width: 60px;

  }

  .col-right {
    text-align: right !important;
    padding-right: 0 !important;

  }

  @media screen and (max-width: $break-small) {
    td {
      padding: 4px !important;
    }

    .col-state {
      width: 28px;

      .state-label {
        width: 14px;
      }
    }

    .col-sm-hide {
      display: none;
    }
  }
}
