.task-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item-name {
  width: 70%;
  a {
    display:flex;
    flex-direction: column;
    span {
      font-size: 0.9em;
    }
  }
}

.task-item-stats {
  display: flex;
}

.task-item-stat {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding-right: 10px;

  .glyphicon {
    font-size: 16px;
    padding-right: 5px;
  }
}

// TODO move to forms.scss
.form-field {
  flex: 1 0 260px;
  padding: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

input.form-control, select.form-control, {
  line-height: 1;
  height: 2.375rem;
}
