$color-bg-light: #81C3D7;
$color-bg-dark: #2D3349;
$color-text-light: #EBE9E9;
$color-text-secondary: rgba(0, 0, 0, 0.298039);
$color-text-dark: #222738;
$color-brand: #0E79B2;

$color-success: #4CB944;
$color-bg-success: lighten($color-success, 40%);

$color-error: #C11D15;
$color-bg-error: lighten($color-error, 50%);

$color-warn: #D69A2C;
$color-bg-warn: lighten($color-warn, 35%);

$break-small: 500px;
$break-large: 1200px;

@import 'nav';
@import 'base';

@import 'create-invoice';
@import 'invoice-summary';
@import 'invoice-advanced';
@import 'buttons';
@import 'header-bar';

@import 'tasks';
@import 'project';
@import 'invoice';
@import 'timeslips';
@import 'generator';
